<!DOCTYPE html>
<html lang="en">
<head>
    @* Original *@
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <title>@ViewData["Title"] - HabitAqui</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/lib/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/lib/swiper/swiper-bundle.min.css" rel="stylesheet">
    <!--Favicon-->
    <link href="~/img/favicon.jpeg" rel="icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
</head>

<body>
    <div class="div-content">
        <!-- ======= Property Search Section ======= -->
        <div class="click-closed"></div>
        <!--/ Form Search Star /-->
        <div class="box-collapse">
            <div class="title-box-d">
                <h3 class="title-d">Pesquisar habitações</h3>
            </div>
            <span class="close-box-collapse right-boxed bi bi-x"></span>
            <div class="box-collapse-wrap form">
               <partial name = "_QuickSearchPartial"/>
            </div>
        </div>
        <!-- End Property Search Section -->
        <header>
            <nav class="navbar navbar-default navbar-trans navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
                <div class="container">
                    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <a class="navbar-brand text-brand" asp-controller="Home" asp-action="Index">Habit<span class="color-b">Aqui</span></a>
                    <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
                        <ul class="navbar-nav">

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Homes" asp-action="Index" asp-route-toRent="true">Arrendar</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Homes" asp-action="Index" asp-route-toPurchase="true">Comprar</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Homes" asp-action="Index">Habitações</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acesso</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item " asp-area="Identity" asp-page="/Account/Register">Registar</a>
                                    <a class="dropdown-item " asp-area="Identity" asp-page="/Account/Login">Login</a>
                                </div>
                            </li>
                        </ul>

                    </div>

                    <button type="button" class="btn btn-b-n navbar-toggle-box navbar-toggle-box-collapse" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01">
                        <i class="bi bi-search"></i>
                    </button>

                </div>
            </nav>
        </header>
        <div class="container-main">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>


   <div class="div-footer">
        <footer class="border-top footer text-muted">
            <div class="container">
                <div class="footer-content">
                    &copy; LEI - Trabalho Prático PWEB 23/24 <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </div>
        </footer>
    </div>


  
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/swiper/swiper-bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>