@using (Html.BeginForm("Search", "Homes", FormMethod.Get))
{

    <div class="row">
        <div class="col-md-12 mb-2">
            <div class="form-group">
                <label class="pb-2" for="pesquisa">Insira sua pesquisa:</label>
                <input type="text" name="textoAPesquisar"
                       id="textoAPesquisar" placeholder="ex: Apartamento, T2..."
                       class="form-control form-control-sm" />
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
                <label class="pb-2" for="homeTypeDropdown">Selecione o Tipo:</label>
                <select class="form-control form-select form-control-a" name="TipoResidenciaSelecionado" id="TipoResidenciaSelecionado" asp-items="ViewBag.HomeTypes">
                   <option value="">Todos</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
                <label class="pb-2" for="homeTypeDropdown">Selecione a Categoria:</label>
                <select class="form-control form-select form-control-a" name="CategoriaSelecinada" id="CategoriaSelecinada" asp-items="ViewBag.HomeCategory">
                    <option value="">Todos</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
                <label class="pb-2" for="homeTypeDropdown">Selecione o período minímo de arrendamento:</label>
                <input type="text" name="PeriodoMinimoSelecionado"
                       id="PeriodoMinimoSelecionado" placeholder="ex: 1, 2, 3...(Em dias)"
                       class="form-control form-control-sm" />
            </div>
        </div>
        

        @* <div class="col-md-6 mb-2">
           <div class="form-group">
                <label class="dropdown-label" for="homeTypeDropdown">Selecione o Tipo:</label>
                <select class="dropdown-box" name="TipoResidenciaSelecionado" id="TipoResidenciaSelecionado" asp-items="ViewBag.HomeTypes">
                    <option value="">Todos</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
                <label class="pb-2" for="city">City</label>
                <select class="form-control form-select form-control-a" id="city">
                    <option>All City</option>
                    <option>Alabama</option>
                    <option>Arizona</option>
                    <option>California</option>
                    <option>Colorado</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
                <label class="pb-2" for="bedrooms">Bedrooms</label>
                <select class="form-control form-select form-control-a" id="bedrooms">
                    <option>Any</option>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
                <label class="pb-2" for="garages">Garages</label>
                <select class="form-control form-select form-control-a" id="garages">
                    <option>Any</option>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
                <label class="pb-2" for="bathrooms">Bathrooms</label>
                <select class="form-control form-select form-control-a" id="bathrooms">
                    <option>Any</option>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
                <label class="pb-2" for="price">Min Price</label>
                <select class="form-control form-select form-control-a" id="price">
                    <option>Unlimite</option>
                    <option>$50,000</option>
                    <option>$100,000</option>
                    <option>$150,000</option>
                    <option>$200,000</option>
                </select>
            </div>
        </div> *@
        <div class="col-md-12">
            <button type="submit" class="btn btn-b">Pesquisar</button>
        </div>
    </div>
}