@model TP2324.ViewModels.CreateCompanyViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<body>

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Adicionar empresas/locadores</h1>
                        <span class="color-text-a">Adicione as empresas ou locadores</span>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Pagina principal</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Adicionar
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- End Intro Single-->



    <div class="container">

        <h4>Empresa</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!-- Campos da Empresa -->
                    <div class="form-group">
                        <label asp-for="Company.Name" class="control-label"></label>
                        <input asp-for="Company.Name" class="form-control" />
                        <span asp-validation-for="Company.Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Company.Description" class="control-label"></label>
                        <textarea rows="5" cols="5" asp-for="Company.Description" class="form-control"></textarea>
                        <span asp-validation-for="Company.Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Company.Rating" class="control-label"></label>
                        <input asp-for="Company.Rating" class="form-control" />
                        <span asp-validation-for="Company.Rating" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Company.EmailDomain" class="control-label"></label>
                        <input asp-for="Company.EmailDomain" class="form-control" />
                        <span asp-validation-for="Company.EmailDomain" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            <input asp-for="Company.State" class="form-check-input" />
                            <label class="form-check-label" asp-for="Company.State">Ativo</label>
                        </div>
                        <span asp-validation-for="Company.State" class="text-danger"></span>
                    </div>
                    <br />
                    <h4>Gestor</h4>
                    <hr />
                    <!-- Campos do Gerente -->
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>               

                    <br />
                    <div class="mb-3">
                        <button type="submit" class="btn btn-c">Adicionar</button>
                        <a asp-action="Index" class="btn btn-c">Voltar</a>
                    </div>
                </form>
                <br />
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
