@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Login</h1>
                    <span class="color-text-a">Logue-se na plataforma</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Pagina principal</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Login
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section><!-- End Intro Single-->

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <section>
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.Email" class="form-label"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                        <label asp-for="Input.Password" class="form-label"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div>
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                Lembre-se de mim?
                            </label>
                        </div>
                    </div>
                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-c">Entrar</button>
                    </div>
                    <div class=" mt-4">
                        <p class="mb-2">
                            <a id="forgot-password" asp-page="./ForgotPassword" class="link">Esqueceu sua senha?</a>
                        </p>
                        <p class="mb-2">
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="link">Não tem conta? Registe-se</a>
                        </p>
                        <p class="mb-2">
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="link">Reenviar email de confirmação</a>
                        </p>
                    </div>

                </form>
            </section>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
