@page
@model RegisterModel


@{
    ViewData["Title"] = "Register";
}

<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Registar</h1>
                    <span class="color-text-a">Registe-se na plataforma</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Pagina principal</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Registar
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section><!-- End Intro Single-->

<div class="container">
    <div class="row ">
        <div class="col-md-4">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.FirstName" class="form-control" autocomplete="off" aria-required="true" />
                    <label asp-for="Input.FirstName">Primeiro Nome</label>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.LastName" class="form-control" autocomplete="off" aria-required="true" />
                    <label asp-for="Input.LastName">Último Nome</label>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.BirthDate" class="form-control" autocomplete="off" aria-required="true" />
                    <label asp-for="Input.BirthDate">Data de Nascimento</label>
                    <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.NIF" class="form-control"  autocomplete="off" aria-required="true" />
                    <label asp-for="Input.NIF">NIF</label>
                    <span asp-validation-for="Input.NIF" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control"  autocomplete="off" aria-required="true" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control"  autocomplete="off" aria-required="true" />
                    <label asp-for="Input.Password">Senha</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control"  autocomplete="off" aria-required="true" />
                    <label asp-for="Input.ConfirmPassword">Confirmar senha</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <button id="registerSubmit" type="submit" class="w-100 btn btn-c">Registar</button>
            </form>
            <br />
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

